<div class="rbt-about-area bg-color-extra2 rbt-section-gap" id="about">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="inner">
                        <div class="section-title text-start">
                            <span class="subtitle bg-primary-opacity">Nos preocupamos por ti</span>
                            <h2 class="title">Liberate del dolor.</h2>
                            <p class="description mt--20"><strong>¿Te identificas con algunos de estos problemas?</strong> Comprendemos el impacto que estos desafíos pueden tener en tu vida diaria.</p>
                            <p>En Fisiox no solo reconocemos los desafíos que enfrentas, sino que también estamos comprometidos en brindarte una solución efectiva y accesible. Sabemos que el dolor físico puede ser una barrera que dificulta el disfrute de la vida cotidiana y limita tus actividades.</p>
                            <div class="read-more-btn mt--40">
                                <a class="rbt-btn btn-primary rbt-switch-btn rbt-switch-y" href="#">
                                    <span data-text="Click aqui">Agenda una llamada</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="content">
                        <img src="assets/images/new/about_us_01.png" alt="About Images">
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="rbt-about-area about-style-1 bg-color-white rbt-section-gapTop">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="thumbnail-wrapper">
                    <div class="thumbnail image-1">
                        <img data-parallax='{"x": 0, "y": -20}' src="assets/images/about/about-07.jpg"
                            alt="Education Images">
                    </div>
                    <div class="thumbnail image-2 d-none d-xl-block">
                        <img data-parallax='{"x": 0, "y": 60}' src="assets/images/about/about-09.jpg"
                            alt="Education Images">
                    </div>
                    <div class="thumbnail image-3 d-none d-md-block">
                        <img data-parallax='{"x": 0, "y": 80}' src="assets/images/about/about-08.jpg"
                            alt="Education Images">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner pl--50 pl_sm--0 pl_md--0">
                    <div class="section-title text-start">
                        <span class="subtitle bg-coral-opacity">Diagnostico Personalizado</span>
                        <h2 class="title">Know About Histudy <br /> Learning Platform</h2>
                    </div>
                    <p class="description mt--30">Far far away, behind the word mountains, far from the countries
                        Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
                        at the coast of the Semantics, a large language ocean.</p>
                    <!-- Start Feature List  -->
                    <div class="rbt-feature-wrapper mt--40">

                        <div class="rbt-feature feature-style-1">
                            <div class="icon bg-pink-opacity">
                                <i class="feather-heart"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Flexible Classes</h6>
                                <p class="feature-description">It is a long established fact that a reader will
                                    be distracted by this on readable content of when looking at its layout.</p>
                            </div>
                        </div>

                        <div class="rbt-feature feature-style-1">
                            <div class="icon bg-primary-opacity">
                                <i class="feather-book"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Learn From Anywhere</h6>
                                <p class="feature-description">Sed distinctio repudiandae eos recusandae laborum eaque
                                    non eius iure suscipit laborum eaque non eius iure suscipit.</p>
                            </div>
                        </div>

                        <div class="rbt-feature feature-style-1">
                            <div class="icon bg-coral-opacity">
                                <i class="feather-monitor"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Experienced Teacher's service.</h6>
                                <p class="feature-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Officia, aliquid mollitia Officia, aliquid mollitia.</p>
                            </div>
                        </div>
                    </div>

                    <!-- End Feature List  -->
                    <div class="about-btn mt--40">
                        <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                            <span class="icon-reverse-wrapper">
                                <span class="btn-text">More About Us</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>