<div class="rbt-about-area bg-color-extra2 rbt-section-gap" id="about">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 order-2 order-lg-1">
                <div class="inner">
                    <div class="section-title text-start">
                        <span class="subtitle bg-primary-opacity">Nos preocupamos por ti</span>
                        <h2 class="title">Liberate del dolor.</h2>
                        <p class="description mt--20"><strong>¿Te identificas con algunos de estos problemas?</strong>
                            Comprendemos el impacto que estos desafíos pueden tener en tu vida diaria.</p>
                        <p>En Fisiox no solo reconocemos los desafíos que enfrentas, sino que también estamos
                            comprometidos en brindarte una solución efectiva y accesible. Sabemos que el dolor físico
                            puede ser una barrera que dificulta el disfrute de la vida cotidiana y limita tus
                            actividades.</p>
                        <div class="read-more-btn mt--40">
                            <a class="rbt-btn btn-primary rbt-switch-btn rbt-switch-y" href="#">
                                <span data-text="Click aqui">Empieza aquí</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                <div class="content">
                    <img src="assets/images/new/about_us_01.png" alt="About Images">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="rbt-about-area about-style-1 bg-color-white rbt-section-gapTop">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="thumbnail-wrapper">
                    <div class="thumbnail image-1">
                        <img data-parallax='{"x": 0, "y": -20}' src="assets/images/about/about-07.jpg"
                            alt="Education Images">
                    </div>
                    <div class="thumbnail image-2 d-none d-xl-block">
                        <img data-parallax='{"x": 0, "y": 60}' src="assets/images/about/about-09.jpg"
                            alt="Education Images">
                    </div>
                    <div class="thumbnail image-3 d-none d-md-block">
                        <img data-parallax='{"x": 0, "y": 80}' src="assets/images/about/about-08.jpg"
                            alt="Education Images">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="inner pl--50 pl_sm--0 pl_md--0">
                    <div class="section-title text-start">
                        @* <span class="subtitle bg-coral-opacity">Diagnostico Personalizado</span> *@
                        <h2 class="title">Diagnostico Personalizado</h2>
                    </div>
                    <p class="description mt--30">En Fisiox, nuestra prioridad eres tú y tu salud. Estamos aquí para
                        apoyarte en cada paso de tu viaje hacia la recuperación.
                        Juntos, podemos trabajar para liberarte del dolor y mejorar tu calidad de vida. ¡Únete a
                        nosotros y comienza tu viaje hacia una vida sin dolor!</p>
                    <!-- Start Feature List  -->
                    <div class="rbt-feature-wrapper mt--40">

                        <div class="rbt-feature feature-style-1">
                            <div class="icon bg-pink-opacity">
                                <i class="feather-heart"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Evaluación y diagnostico</h6>
                                <p class="feature-description">Nuestra plataforma se enfoca en analizar tus datos de
                                    manera precisa, lo que nos permite comprender tu situación única.
                                    Esto se traduce en un diagnóstico adaptado a tus necesidades específicas,
                                    proporcionándote información precisa y detallada sobre tu estado de salud.</p>
                            </div>
                        </div>

                        <div class="rbt-feature feature-style-1">
                            <div class="icon bg-primary-opacity">
                                <i class="feather-book"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Aprendizaje</h6>
                                <p class="feature-description">Creemos que estar bien informado es fundamental para tu
                                    recuperación.
                                    Por eso, te proporcionamos información detallada sobre tu patología. Aprenderás
                                    sobre tu condición, sus causas y cómo afecta a tu cuerpo.
                                    Además, tendrás acceso a recursos educativos, como artículos y videos explicativos,
                                    para que puedas participar activamente en tu propio proceso de rehabilitación.</p>
                            </div>
                        </div>

                        <div class="rbt-feature feature-style-1">
                            <div class="icon bg-coral-opacity">
                                <i class="feather-monitor"></i>
                            </div>
                            <div class="feature-content">
                                <h6 class="feature-title">Seguimiento</h6>
                                <p class="feature-description">Trabajamos contigo para establecer metas personalizadas
                                    que se adapten a tus necesidades y capacidades.
                                    Luego, te ayudamos a realizar un seguimiento de tu progreso a medida que avanzas en
                                    tu rehabilitación.
                                    Esto te brinda la motivación y la orientación necesarias para alcanzar tus objetivos
                                    de salud de manera efectiva.</p>
                            </div>
                        </div>
                    </div>

                    <!-- End Feature List  -->
                    <div class="rbt-button-group justify-content-start mt--30">
                        <a class="rbt-btn btn-border rbt-switch-btn" href="#">
                            Empieza ahora
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>