<!-- Start Banner Area -->
<div class="rbt-banner-area rbt-banner-7 bg-color-white-off header-transperent-spacer">
    <div class="wrapper w-100">
        <div class="container">
            <div class="row g-5 justify-content-between align-items-center">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="content">
                        <div class="inner">
                            <div class="section-title text-start">
                                <span class="subtitle bg-primary-opacity">SALUD PARA TI</span>
                            </div>
                            <h1 class="title text-primary">Fisioterapia digital, <br>cuándo y donde quieras.</h1>
                            <p>Sin esperas ni desplazamientos.  <br> La mejor experiencia para tratar dolores musculoesqueléticos.</p>
                            @* <div class="rbt-like-total">
                                <div class="profile-share">
                                    <a href="#" class="avatar" data-tooltip="Mark JOrdan" tabindex="0"><img
                                            src="assets/images/testimonial/client-04.png" alt="education"></a>
                                    <a href="#" class="avatar" data-tooltip="Mark" tabindex="0"><img
                                            src="assets/images/testimonial/client-05.png" alt="education"></a>
                                    <a href="#" class="avatar" data-tooltip="Jordan" tabindex="0"><img
                                            src="assets/images/testimonial/client-06.png" alt="education"></a>
                                    <div class="more-author-text">
                                        <h5 class="total-join-students">Somos más de 500 usuarios</h5>
                                        <p class="subtitle">Tenemos nuevos videos cada semana.</p>
                                    </div>
                                </div>
                            </div> *@
                            <div class="rbt-button-group justify-content-start mt--30">
                                <a class="rbt-btn btn-border rbt-switch-btn" href="#">
                                    Empieza ahora
                                </a>
                            </div>
                            @* <p class="mt-4">¿Ya eres usuario?<a href="login">&nbsp Ingresa Aqui</a></p> *@
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail text-end">
                            <img src="assets/images/new/cover.png" alt="Education Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area -->