<div class="rbt-pricing-area bg-white rbt-section-gap">
    <div class="container">
        <div class="row g-5 mb--60">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="section-title text-start">
                    <span class="subtitle bg-pink-opacity">COURSE PRICING</span>
                    <h2 class="title">Histudy Course Plan</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="pricing-billing-duration text-start text-md-end">
                    <ul>
                        <li class="nav-item">
                            <button class="nav-link yearly-plan-btn" type="button">Yearly Plan</button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link monthly-plan-btn active" type="button">Monthly Plan</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row gx-0 ">
            <!-- Start Single Pricing  -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="pricing-table style-3">
                    <div class="icon-image text-center">
                        <img src="assets/images/icons/pricing-icon-01.png" alt="Pricing Image Icons">
                    </div>
                    <div class="pricing-header">
                        <h3 class="title">6 weeks to 12 months</h3>
                        <span class="rbt-badge mb--15">Free for a Month</span>
                        <div class="price-wrap">
                            <div class="yearly-pricing" style="display: none;">
                                <span class="amount">$1475</span>
                                <span class="duration">/yearly</span>
                            </div>
                            <div class="monthly-pricing" style="display: block;">
                                <span class="amount">$12.00</span>
                                <span class="duration">/monthly</span>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <ul class="list-item">
                            <li>5 Full Days</li>
                            <li>7:00 am to 6:00 pm</li>
                            <li class="off">High Resolution Videos</li>
                            <li class="off">24/7 Dedicated Support</li>
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a class="rbt-btn btn-border radius-round hover-icon-reverse w-100" href="#">
                            <div class="icon-reverse-wrapper">
                                <span class="btn-text">Join Course Plan</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Single Pricing  -->

            <!-- Start Single Pricing  -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="pricing-table style-3 active">
                    <div class="icon-image text-center">
                        <img src="assets/images/icons/pricing-icon-02.png" alt="Pricing Image Icons">
                    </div>
                    <div class="pricing-header">
                        <h3 class="title">12 months to 24 months</h3>
                        <span class="rbt-badge mb--15">Free for a Month</span>
                        <div class="price-wrap">
                            <div class="yearly-pricing" style="display: none;">
                                <span class="amount">$30.99</span>
                                <span class="duration">/yearly</span>
                            </div>
                            <div class="monthly-pricing" style="display: block;">
                                <span class="amount">$20.00</span>
                                <span class="duration">/monthly</span>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <ul class="list-item">
                            <li>8 Full Days</li>
                            <li>7:00 am to 6:00 pm</li>
                            <li class="off">High Resolution Videos</li>
                            <li class="off">24/7 Dedicated Support</li>
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a class="rbt-btn btn-gradient radius-round hover-icon-reverse w-100" href="#">
                            <div class="icon-reverse-wrapper">
                                <span class="btn-text">Join Course Plan</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Single Pricing  -->

            <!-- Start Single Pricing  -->
            <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                <div class="pricing-table style-3">
                    <div class="icon-image text-center">
                        <img src="assets/images/icons/pricing-icon-03.png" alt="Pricing Image Icons">
                    </div>
                    <div class="pricing-header">
                        <h3 class="title">Pre Primary Community</h3>
                        <span class="rbt-badge mb--15">Free for a Month</span>
                        <div class="price-wrap">
                            <div class="yearly-pricing" style="display: none;">
                                <span class="amount">$1245.99</span>
                                <span class="duration">/yearly</span>
                            </div>
                            <div class="monthly-pricing" style="display: block;">
                                <span class="amount">$30.00</span>
                                <span class="duration">/monthly</span>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-body">
                        <ul class="list-item">
                            <li>Pre Primary Community</li>
                            <li>Kindergarten Community</li>
                            <li>High Resolution Videos</li>
                            <li>24/7 Dedicated Support</li>
                        </ul>
                    </div>
                    <div class="pricing-btn">
                        <a class="rbt-btn btn-border radius-round hover-icon-reverse w-100" href="#">
                            <div class="icon-reverse-wrapper">
                                <span class="btn-text">Join Course Plan</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Single Pricing  -->

        </div>
    </div>
</div>