<div class="rbt-newsletter-area newsletter-style-2 bg-color-primary rbt-section-gap">
    <div class="container">
        <div class="row row--15 align-items-center">
            <div class="col-lg-12">
                <div class="inner text-center">
                    <div class="section-title text-center">
                        <span class="subtitle bg-white-opacity">Get Latest Histudy Update</span>
                        <h2 class="title color-white"><strong>Subscribe</strong> Our Newsletter</h2>
                        <p class="description color-white mt--20">Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Ipsam explicabo sit est eos earum reprehenderit inventore nam autem corrupti rerum!
                        </p>
                    </div>
                    <form action="#" class="newsletter-form-1 mt--40">
                        <input type="email" placeholder="Enter Your E-Email">
                        <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse">
                            <span class="icon-reverse-wrapper">
                                <span class="btn-text">Subscribe</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </button>
                    </form>
                    <span class="note-text color-white mt--20">No ads, No trails, No commitments</span>

                    <div class="row row--15 mt--50">
                        <!-- Start Single Counter -->
                        <div class="col-lg-3 offset-lg-3 col-md-6 col-sm-6 single-counter">
                            <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                <div class="inner">
                                    <div class="content">
                                        <h3 class="counter color-white"><span class="odometer"
                                                data-count="500">00</span>
                                        </h3>
                                        <h5 class="title color-white">Successfully Trained</h5>
                                        <span class="subtitle color-white">Learners &amp; counting</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Counter -->

                        <!-- Start Single Counter -->
                        <div class="col-lg-3 col-md-6 col-sm-6 single-counter mt_mobile--30">
                            <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                <div class="inner">
                                    <div class="content">
                                        <h3 class="counter color-white"><span class="odometer"
                                                data-count="100">00</span>
                                        </h3>
                                        <h5 class="title color-white">Certification Students</h5>
                                        <span class="subtitle color-white">Online Course</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Counter -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>