<footer class="rbt-footer footer-style-1 bg-color-white overflow-hidden">
    <div class="footer-top">
        <div class="container">
            <div class="col-12">
                <div class="footer-widget text-center">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo/logo.png" alt="Edu-cause">
                        </a>
                    </div>

                    <p class="description mt--20">We’re always in search for talented
                        and motivated people. Don’t be shy introduce yourself!
                    </p>

                    <ul class="social-icon social-default">
                        <li><a href="https://www.facebook.com/">
                                <i class="feather-facebook"></i>
                            </a>
                        </li>
                        <li><a href="https://www.twitter.com">
                                <i class="feather-twitter"></i>
                            </a>
                        </li>
                        <li><a href="https://www.instagram.com/">
                                <i class="feather-instagram"></i>
                            </a>
                        </li>
                        <li><a href="https://www.linkdin.com/">
                                <i class="feather-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>
    <!-- Start Copyright Area  -->
    <div class="copyright-area copyright-style-1 ptb--20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center">
                    <p class="rbt-link-hover text-center">Copyright © 2023 <a
                            href="https://themeforest.net/user/rbt-themes">Fisiox</a> All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright Area  -->
</footer>