@inherits LayoutComponentBase

<PageTitle>Fisiox</PageTitle>

<NavBarMenu />

<div class="page">
    <main>
        @Body
    </main>
</div>

<Footer />

<style>
    .page {
        position: relative;
        display: flex;
        flex-direction: column;
    }
</style>