<header class="rbt-header rbt-header-10 rbt-transparent-header">
    <div class="rbt-sticky-placeholder"></div>
    <div class="rbt-header-wrapper  header-not-transparent header-sticky">
        <div class="container">
            <div class="mainbar-row rbt-navigation-center align-items-center">
                <div class="header-left rbt-header-content">
                    <div class="header-info">
                        <div class="logo">
                            <a href="/">
                                <img class="mainbar-logo" src="assets/images/logo/logo.png" alt="Education Logo Images">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="rbt-main-navigation d-none d-xl-block">
                    <nav class="mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="with-megamenu has-menu-child-item position-static">
                                <a href="#">Programas</a>
                            </li>
                            <li class="has-dropdown has-menu-child-item">
                                <a href="#">Planes</a>
                            </li>
                            <li class="has-dropdown has-menu-child-item">
                                <a href="#">Recursos</a>
                            </li>

                            <li class="has-dropdown has-menu-child-item">
                                <a href="#">Medicos
                                    <i class="feather-chevron-down"></i>
                                </a>
                                <ul class="submenu">
                                    <li class="has-dropdown"><a href="#">Instructor Dashboard</a>
                                        <ul class="submenu">
                                            <li><a href="instructor-dashboard.html">Dashboard</a></li>
                                            <li><a href="instructor-profile.html">Profile</a></li>
                                            <li><a href="instructor-enrolled-courses.html">Enrolled Courses</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-dropdown"><a href="#">Student Dashboard</a>
                                        <ul class="submenu">
                                            <li><a href="student-dashboard.html">Dashboard</a></li>
                                            <li><a href="student-profile.html">Profile</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="header-right">
                    <ul class="quick-access">
                        <li class="account-access rbt-user-wrapper d-none d-xl-block">
                            <a href="login"><i class="feather-user"></i>Ingresa ahora</a>
                            <div class="rbt-user-menu-list-wrapper">
                            </div>
                        </li>
                    </ul>

                    <div class="rbt-btn-wrapper d-none d-xl-block">
                        <a class="rbt-btn rbt-switch-btn btn-primary btn-sm hover-transform-none" href="#">
                            Empieza ahora
                        </a>
                    </div>
                    <div class="mobile-menu-bar d-block d-xl-none">
                        <div class="hamberger">
                            <button class="hamberger-button rbt-round-btn">
                                <i class="feather-menu"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- CSS -->
<style>
    .mainbar-logo {
        height: 3.5rem;
    }
</style>

@code {
}